/* start of large tablet styles */
@media screen and (min-width: 767px) {
    /* nav {
        margin-top: 5%;
    }
    nav h4 {
        font-size: 16px;
        margin-right: 9%;
    } 
    section.intro-msg h4 {
        font-size: 28px;
        line-height: 10%;
    }        
    .container {
        margin: 11% 7.8% 15.6% 7.8%;
        display: flex;
        flex-flow: row wrap;
    } */
}
